<!DOCTYPE html>
<html lang="en">
<head>
  
  <title>Stories</title>
  <%- include('head') %>
</head>
<body>
  <%- include('_header') %>
  <section class='pt-60'>
    <% for (let story of stories) { %>
    <div>
      <h4><%= story.status %></h4>
      <h2><%= story.title %></h2>
      <img src="<%= story.photo_url %>">
      <h4>Created By: <%= story.created_by %></h4>
      <h5>Created On: <%= story.created_at %></h5>
      <h5>Total Contributions: <%= story.total_contributions %></h5>
    </div>
    <% } %>
  </section>
</body>
</html>