<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stories</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<body>
  <%- include('_header') %>
  <section>
    <% for (let story of stories) { %>
    <div>
      <h4><%= story.status %></h4>
      <h2><%= story.title %></h2>
      <img src="<%= story.photo_url %>">
      <h4>Created By: <%= story.created_by %></h4>
      <h5>Created On: <%= story.created_at %></h5>
      <h5>Total Contributions: <%= story.total_contributions %></h5>
    </div>
    <% } %>
  </section>
</body>
</html>