<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Your Story</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<body>
  <%- include('_header') %>
  <form method="POST" action="/update/<%= story.storyurl_id %>">
    <label>Edit Your Story</label>
    
    <div>
      <input type="text" name="title" value="<%= story.title %>">   
    </div>

    <div>
      <input type="textarea" name="content" value="<%= story.content %>">
    </div>

    <div>
      <input type="url" name="photo_url" placeholder="Insert a photo" value="<%= story.photo_url %>">
    </div>

    <div>
      <button type="submit">Submit Changes</button>
      <a href='#'>Cancel</a>
    </div>

  </form>
</body>
</html>